<div class="cart-drawer__discount">
  <discount-input>
    <div class="discount-form">
      <div class="input-group">
        <input 
          type="text" 
          name="discount" 
          id="discount-code" 
          class="discount-input"
          placeholder="Enter discount code"
        >
        <button 
          type="button" 
          id="discount-apply-button"
          class="apply-discount"
        >
          Apply
        </button>
      </div>
      <p id="discount-message" class="discount-message"></p>
    </div>
  </discount-input>
</div>
